<!-- <h1>I am {{ title }}</h1>
<p>{{isbtn}}</p>

<input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<button [disabled]="btn()"
        (click)="sw()">Click me!</button> -->
<!-- 
Data-Binding

{{}} - string interpolation (Output Binding)
[]   - property binding (Output Binding)
()   - Event  binding (Input Binding)
[()] - Two-way Binding(Input and output Binding)

 -->
<!-- <h1>Task-1</h1> -->
<!-- <input type="text" [(ngModel)] = "name">
<br>
<button (click)="onc()">Print Details</button>
<p>{{staticname}}</p> -->

<!-- 
        Directives -- Instruction which you are giving to a html element.
          - Structural directives - *ngFor, *ngIf,... - logic[Add/ remove elements in html]
          - Attribute directives  -  ngStyle....-     - [change the element-properties]

          list = ["vishanth","rakesh","charu","anjali","vamsi"]
 -->

<!-- <p *ngFor="let x of list">Hello...{{x}}</p> -->
<!-- <button (click)="sw()">Click Me!!</button>
<p *ngIf="isbtn">I am marked as true</p>
<p *ngIf="!isbtn">I am marked as false</p>


<button (click)="switchColor()"> switch color</button>
<p [ngStyle]="{color:tcolor,backgroundColor:bcolor}">I am Styled</p> -->


<h1>SERVICES</h1>
<app-home></app-home>